.blog-detail {
  .img-container {
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    margin: 1.5rem 0;
  }

  div.text {
    text-indent: 30px;
    margin: 2rem 0;
  }
}
