.my-blog {
  // border: 2px solid black;
  height: 533px;
  overflow-y: auto;

  .card {
    margin-bottom: 30px;
    max-height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: $box-shadow;
  }

  .icon-group {
    .icon {
      font-size: 1.2rem;
      margin-right: 30px;
      cursor: pointer;

      &.delete {
        color: $red;
      }
      &.edit {
        color: $blue;
      }
      &.open {
        color: $green;
      }
      &.download {
        color: purple;
      }
    }
  }
}
@media (max-width: 600px) {
  .my-blog {
    // position: relative;

    .card {
      padding-bottom: 30px;
    }

    .icon-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0;
      left: 0rem;
      right: 0;
      background-color: $color4;
      // border-top: 1px solid $color1;

      .icon {
        padding: 5px 0;
      }
    }
  }
}
