.card-item {
  height: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.4s;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 992px) {
  .card-item {
    height: 250px;
  }
}

@media (max-width: 400px) {
  .card-item {
    height: 250px;
  }
}
