footer {
  background-color: $color1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .text {
    color: white;
  }

  .heart-icon {
    color: red;
    margin: 0 3px;
  }
}
